body {
	background: url(./assets/img/warrper.jpg) 0 0/cover no-repeat;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.header {
}
.container {
	margin: 0 auto;
	max-width: 1024px;
	padding: 10px;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score {
	color: #ffffff;
	font-size: 24px;
}

.btn-new-game {
}
.btn-score {
}
.main {
	flex-grow: 1;
	display: grid;
	align-items: center;
	
}
.box-card {
	position: relative;
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
}

.item-cards {
	position: relative;
	width: 100px;
}

.card {
	position: relative;
	background-color: #fff;
	object-fit: fill;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.5s ease;
	z-index: 2;
}

.card:hover {
	filter: brightness(45%);
}

.card-open {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

}

.card-open-show {
	z-index: 1;
}


.footer {
	flex-shrink: 0;

}

.footer-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.git {
	color: #ffffff;
}

.git:hover {
	color: #8b8383;
}

.logo {
	width: 100px;
}

.logo:hover {
	opacity: 0.8;
}

.modul-win {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4889d4e7;
	padding: 15px 50px;
	border-radius: 15px;
	
}

.modul-win-open {
	display: flex;
}

.text-win {
	font-size: 24px;
	margin-bottom: 10px;
	color: #fff;
}

.box-win {
	margin-bottom: 10px;
	
}

.btn-win {

}