*{margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	color: #000000;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.body-hidden {
	overflow: hidden;
}


a {
	text-decoration: none;
}

ul li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1 {
	color: #FFF;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px; 
}

h2 {
	text-align: center;
	color: #0C0C0E;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize; 
	margin-bottom: 20px;
}


h3 {
font-weight: 700;
letter-spacing: 2px;
text-transform: uppercase; 
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper-inactive {
	opacity: 0.5;
}

.container {
	max-width: 1440px;
  margin: 0 auto;
}

.header {
	/* position: relative; */
	background-color: #0C0C0E;

}

.header-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0C0C0E;
	padding: 20px;
}

.header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	padding-right: 40px;
}

.nav-list {
	display: flex;
	gap: 30px;
	transition: all 1s ease 0.2s;
	
}

.burger {
	position: relative;
	display: none;
	margin-left: 40px;
	width: 45px;
	height: 20px;
	cursor: pointer;
	background: url(../library/assets/svg/burger.svg) no-repeat center;
	background-size: contain;
	z-index: 2;
}


.burger.active {
	transition: all 0.5s;
	background: url(../library/assets/svg/burger-open.svg) no-repeat center;
}


.nav-list.active {
	padding: 100px 108px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	background-color: #000000;
	z-index: 1;
	right: 0;
}

@media (max-width:1024px) {
	.nav-list {
		display: flex;
		flex-direction: column;
		text-align: center;
		position: absolute;
		background-color: #000000;
		padding: 100px 108px;
		right: -9999px;
		top: 0;
	}

	
	.burger {
		display: block;
	}

}

.nav-link {
	color: #ffffff;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	transition-duration: 0.7s;
	transition-timing-function: ease-in;
}

.nav-link:hover {
	color: #BB945F;
}

.img-profil {
	position: relative;
}

.img-pic {
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.img-pic-inactive {
	display: none;
}


.user-avatar {
	display: none;
	background-color: #fff;
	width: 28px;
	height: 28px;
	border-radius: 25px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.user-avatar:hover {
	opacity: 0.8;
}

.user-avatar-active {
	color: #BB945F;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-pic:hover {
	opacity: 0.5;
}

.profil-modal {
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 5px 11px 10px 10px;
	margin-top: 25px;
	position: absolute;
	z-index: 5;
	left:-100%;
	background-color: #fff;
}

.profil-Myregistr {
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 5px 4px 10px 5px;
	margin-top: 25px;
	position: absolute;
	z-index: 5;
	left:-100%;
	background-color: #fff;
	width: 80px;
}

.profil-modal-active {
	display: flex;
}

.prifil-title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
	font-family: Inter; 
}

.profil-number-card {
	font-size: 13px;
}

.profil-line {
	margin-bottom: 15px;
	width: 40px;
	height: 1px;
	background-color: #BB945F;
}

.profil-text {
	font-size: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 1s;
}

.profil-text:hover {
	color: #BB945F;
}

.modal-register {
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 0px;
	background-color: #ffffff;
}


.modal-login {
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 25px;
	background-color: #ffffff;
}



.modal-header {
	margin-bottom: 20px;

}

.register-title {
	text-align: center;
	font-family: Forum;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.4px;
	text-transform: uppercase; 
}

.close-modal {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}


.close-login {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.form-register {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 25px;
}

.form-login {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 25px;
}

.label-register {
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.3px; 
}

.input-register {
	width: 200px;
	height: 20px;
	border: 1px solid #BB945F; 
}

.input-login {
	width: 200px;
	height: 20px;
	border: 1px solid #BB945F; 
}

.input-password-login {
	width: 200px;
	height: 20px;
	border: 1px solid #BB945F; 
}

.form-btn {
	margin-top: 10px;
	width: 75px;
	height: 30px;
	font-size: 10px; 
	font-weight: 700;
	background-color: #fff; 
	border-radius: 2px;
	border: 1px solid #0C0C0E; 
	cursor: pointer;
	transition: all 1s;
}

.form-btn:hover {
	background-color: #BB945F;
}

.form-btn-login {
	margin-top: 10px;
	width: 75px;
	height: 30px;
	font-size: 10px; 
	font-weight: 700;
	background-color: #fff; 
	border-radius: 2px;
	border: 1px solid #0C0C0E; 
	cursor: pointer;
	transition: all 1s;
}

.form-btn-login:hover {
	background-color: #BB945F;
}

.under-form {
	display: flex;
	justify-content: start;
	gap: 10px;
	margin-left: 25px;
	margin-top: 10px;
}

.text-under-form {
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
}

.under-form-link {
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	cursor: pointer;
}

.under-form-link:hover {
	text-decoration-line: underline; 
}

.under-login-link {
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px;
	cursor: pointer;
}

.under-login-link:hover {
	text-decoration-line: underline; 
}

.welcome {
	background: url(./assets/img/Welcome.png) 0 50%/cover no-repeat;
}


.welcome-body {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.welcome-box {
	max-width: 600px;
	padding: 220px 0px 160px 0px;
}

.welcome-border {
	background-color: #0C0C0E;
	padding: 35px 40px;
}

.welcome-title {
	color: #FFF;
	text-align: center;
	font-family: 'Forum';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 3px;
	text-transform: uppercase; 
}

.about-body {
	padding: 20px;
}

.line {
	width: 50px;
	border-top: 1px solid #0C0C0E;
	margin: 0 auto;
	margin-bottom: 40px;
}
.about-text {
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	line-height: 40px; 
}

.about-slider {
	position: relative;
}

.slider-wrapper {
	display: flex;
	position: relative;
	overflow: hidden; 
}

@media (max-width: 1380px) {
	.slider-wrapper {
		max-width: 930px;
		margin: 0 auto;
	}
}

@media (max-width: 965px) {
	.slider-wrapper {
		max-width: 450px;
		margin: 0 auto;
	}
}



.slide {
	display: flex;
	gap: 25px;
	position: relative;
	justify-content: center;
	right: 0;
	transition-duration: 0.7s;
	transition-timing-function: ease-in;
}

.slide-item {
	transition-duration: 0.7s;
	transition-timing-function: ease-in;
}
.slide-item:hover {
	transform: scale(1.2);
}


.arrow-next {
	display: none;
	padding: 5px;
	position: absolute;
	top: 51%;
	right: 55px;
	cursor: pointer;
}

.arrow-prew {
	display: none;
	padding: 5px;
	position: absolute;
	top: 51%;
	left: 55px;
	transform: rotate(180deg);
	cursor: pointer;
}


@media (max-width: 960px) {
	.arrow-next {
		display: block;
	}
	.arrow-prew {
		display: block;
	}
}

@media (max-width: 1440px) {
	.slide {
		height: 560px;
	}
}

.slider-dots {
	display: flex;
	justify-content: center;
	margin: 15px 0px 20px 0px;
	cursor: pointer;
}


.dots {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #0C0C0E;
	margin: 5px;
	cursor: pointer;
	transition-duration: 0.7s;
	transition-timing-function: ease-in;
}

.dots:last-child {
	margin-right: 0;
}

.dots:hover {
	background-color: #BB945F;
}

.dot-Active {
	background-color: #BB945F;
}

.favorites-body {
	padding: 20px;
}

.favorites-text {
	margin-bottom: 40px;
	color: #000;
	text-align: left;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal; 
}

.input-box {
	display: flex;
	justify-content: space-between;
	max-width: 700px;
	height: 24px;
	margin-bottom: 40px;
}

.custom-checkbox {
	position: relative;
	display: flex;
}

.custom-checkbox label {
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
}

.book-bold {
	font-weight: 700;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height: 0;
}

.pseudo-radio {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.pseudo-radio::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	width: 8.5px;
	height: 8.5px;
	background-color: #000000;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.2s ease-in; 
} 

.radio:checked + .pseudo-radio::before {
	transform: translate(-50%, -50%) scale(1);
} 

.radio-text {
	align-items: flex-start;
}

.label-box {
}

.modul {
	display: none;
}

.open {
	display: block;
}

.books-box {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 260px;
	padding-right: 60px;

}

@media (max-width: 1420px) {
	.books-box  {
		grid-column-gap: 100px;
	}
}

@media (max-width: 1240px) {
	.books-box  {
		grid-template-columns:1fr;
		grid-template-rows: 1fr;
		justify-items: center;
	}
}



.box-item {
	border: 1px solid #000000;
	position: relative;
	padding-left: 20px;
	width: 550px;
	height: 555px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

@media (max-width: 1024px) {
	.box-item {
		margin-right: -9px;
	}
}


.book-title {
	margin-bottom: 20px;
}

.above-title {
	position: relative;
	margin-top: 15px;
	margin-bottom: 0;
	position: relative;
	font-family: Forum;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: capitalize; 
}

.books-line {
	position: absolute;
	top: 53px;
	width: 60px;
	border-top: 1px solid #BB945F;
	margin-bottom: 30px;
}

.book-title {
	margin-top: 20px;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase; 
}

.book-title span {
	text-transform: lowercase;
}

.book-text {
	max-width: 355px;
	line-height: 40px;
	letter-spacing: 2px; 
	text-transform: capitalize; 
}

.book-img {
	position: absolute;
	left: 390px;
	top: 255px;
}

.book-btn {
	display: inline-block;
	justify-self: start;
	margin-top: auto;
	margin-bottom: 15px;
	max-width: 75px;
	padding: 9px 27px;
	background-color: #ffffff;
	border: 1px solid #0C0C0E; 
	border-radius: 2px; 
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px; 
	cursor: pointer;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.book-btn:hover {
	background-color: #BB945F;
	transition: 0.5;
}


.disabled {
	color: #BB945F;
	border: 1px solid #BB945F; 
	cursor:auto
}

.disabled:hover {
	background-color: #ffffff;
}

.cofeshop-body {
	padding: 0px 20px 20px 20px;
}

.coffe-subtitle {
	text-align: left;
	color: #BB945F;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 100% */
	letter-spacing: 2px;
	text-transform: capitalize; 
	margin-bottom: 40px;
}

.cofeshop-title {
	margin-bottom: 20px;
}

.cofeshop-line {
	margin-bottom: 40px;
}

.cofeshop-text {
		font-size: 20px;
		line-height: 40px; /* 200% */
		letter-spacing: 2px;
		text-align: center;
		margin-bottom: 40px;
}

.cofeshop-menu {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}

@media (max-width:1024px) {
	.cofeshop-menu {
		flex-direction: column;
	}
	.desserts {
		align-self: flex-end;
	}
}


.menu {
	width: 440px;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize; 
}

.menu-item {
	position: relative;
	display: grid;
	grid-template-columns: minmax(100px, 200px) minmax(50px, 100px) minmax(10px, 21px);
	column-gap: 60px;
	margin-bottom: 40px;
}

.coffe-line {
	position: relative;
	top: 22.5px;
	width: 100px;
	border-top: 1px solid #BB945F;
}

.desserts {
	width: 482px;
}

.desserts-item {
	grid-template-columns: minmax(100px, 215px) minmax(50px, 100px) minmax(10px, 21px);
	text-align: right;
}

.dessert-subtitle {
	text-align: right;
}

.contacts-body {
	padding: 0px 20px 70px 20px;
}

.contacts-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width:1024px) {
	.contacts-box{
		flex-direction: column;
	}
}

.contacts-subtitle {
	font-size: 20px;
	text-transform: capitalize; 
	margin-bottom: 40px;
	color: #000;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
}

.contacts-item {
	margin-bottom: 20px;
}

.contacts-link {
	text-align: center;
	font-size: 20px;
	font-style: normal;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize; 
	color: #000000;
}

.contacts-link:hover {
	color: #BB945F;
}
.contacts-subtitle-two {
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: none;
}

.contacts-end {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 200% */
	letter-spacing: 2px;
	text-transform: capitalize; 
}

.contacts-end a {
	font-weight: 700;
	font-family: Inter;
	letter-spacing: 2px;
	color: #000000;
}

.contacts-end a:hover {
	color: #BB945F;
}

@media (max-width:1400px) {
	.contacts-text {
		margin-bottom: 100px;
	}
}

.contacts-map {
	margin: 0 auto;
}

.map-img {
	object-fit: cover;
	width: 100%;
}

.card-body {
	padding: 0px 20px 40px 20px;
}

.card-box {
	display: flex;
	justify-content: space-between;
}

@media (max-width:1024px) {
	.card-box {
		flex-wrap: wrap;
		justify-content: center;
	}
	.find-box {
		margin-bottom: 21px;
	}
	.card-get {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.card-find {
	text-align: center;
}

.find-title {
	font-size: 30px;
	line-height: normal;
	letter-spacing: 0.6px;
	font-weight: 400; 
	margin-bottom: 30px;
	text-transform: none; 
}

.find-box {
	height: 386px;
	padding: 20px 20px 30px 20px;
	border: 3px solid #BB945F;
	background: #FFF; 
}

.find-box-frame {
	height: 272px;
	padding: 20px 20px 25px 20px;
	background-color: #BB945F;
}

.card-subtitle {
	text-align: left;
	font-family: Forum;
	font-size: 30px;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px; 
}

.card-input {
	width: 520px;
	display: block;
	border-radius: 10px; 
	color: #8E8E8E;
	font-family: Forum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: 0.6px; 
	margin-top: 25px;
	padding: 8px 25px;
}

.card-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px; 
	padding: 10px 40px;
	background-color: #ffffff;
	border: 1px solid #0C0C0E; 
	border-radius: 2px;
	cursor: pointer;
	transition-duration: 0.7s;
	transition-timing-function: ease-in;
}

.card-btn:hover {
	background-color: #BB945F
}

.get-title {
	text-align: right;
	margin-bottom: 37px;
	font-family: Forum;
	font-size: 30px;
	line-height: normal;
	letter-spacing: 0.6px; 
	font-weight: 400; 
}

.get-text {
	max-width: 456px;
	text-align: right;
	font-size: 20px;
	line-height: 40px; /* 200% */
	letter-spacing: 0.4px; 
	font-weight: 400;
	margin-bottom: 40px;
}

@media (max-width:1024px) {
	.get-text {
		max-width: 600px;
		text-align: center;
	}
}


.get-box {
	display: flex;
	justify-content: end;
}

.get-btn {
	width: 75px;
	height: 30px;
	margin-right: 20px;
	border: 1px solid #0C0C0E;
	background-color: #ffffff;
	cursor: pointer;
	transition-duration: 0.5s;
	text-align: center;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1px; 
}

.get-btn:hover {
	background-color: #BB945F;
}

.get-btn:last-child {
	margin-right: 0;
}

.footer {
	background-color: #0C0C0E;
}

.footer-body {
	padding: 20px 20px 44px 20px;
}
.footer-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.top-adress {
	max-width: 230px;
}
.top-adress-text {
	color: #FFF;
	line-height: 20px; /* 133.333% */ 
}

.top-adress-text:hover {
	color: #BB945F;
	transition: 0.5s;
}

.top-adress-list {
	display: flex;
	gap: 15px;
}

.top-adress-item {
	margin-top: 18px;
}

.top-adress-link:hover {
	opacity: 0.5;
	transition: 0.5s;
}
.top-schedule {
	max-width: 149px;
	color: #FFF;
	text-align: right; 
}

.top-schedule p {
	margin-bottom: 10px;
}

.top-schedule p:last-child {
	margin-bottom: 0;
}

.footer-bottom {
	border-top: 1px solid #ffffff;
}

.footer-bottom-box {
	display: flex;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}

.footer-year {
	flex-basis: 39.5%;
	color: #FFF;;
	font-size: 20px;
}

.footer-bottom a {
	color: #FFF;
	font-size: 20px;
}

.name-school {
	flex-basis: 47.5%;
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 2px; 
}

@media (max-width:1024px) {
	.footer-bottom-box {
		justify-content: space-between;
	}
	.footer-year {
		flex-basis: auto;
	}
	.name-school {
		flex-basis: auto;
	}
	
}


.name-school:hover {
	color: #BB945F;
	transition: 0.5s;
}

.footer-user-name:hover {
	color: #BB945F;
	transition: 0.5s;
}


.modal-profile {
	width: 600px;
	position: absolute;
	z-index: 2;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.modal-profil-box {
	display: none;
}

.modal-profil-box-active {
	display: flex;
}


.modal-profil-name {
	background-color: #0C0C0E;
	padding: 149px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.inicial {
	padding: 30px 27px;
	background-color: #fff;
	margin-bottom: 15px;
	color: #BB945F;
	font-size: 20px;

}
.name-and-surname {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 5px 15px;
	font-size: 20px;
	font-weight: 400;
}

.modal-profile-header {
	display: flex;
}

.modal-profil-inform {
	padding: 40px 20px;
}
.modal-profile-title {
	text-align: center;
	font-family: Forum;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 50% */
	letter-spacing: 0.8px;
	text-transform: uppercase;
	margin-right: 163px;
	margin-bottom: 40px;
}

.modal-profil-close {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.modal-profil-close:hover {
	transform: scale(1.2);
}

.modal-profile-card {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}
.modal-profil-visit-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.title-visits {
}
.visit-counter {
}
.modal-profil-bonus-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.title-bonus {
}
.bonus-counter {
}

.modal-profil-books-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.title-book {
}
.book-counter {
}
.subtitle {
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 80% */
	margin-bottom: 30px;
}
.profile-list-book {
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 40px;
}
.profile-link-book {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px; /* 100% */
	letter-spacing: 2px;
}
.profile-footer-card {
	display: flex;
	gap: 15px;
}
.profile-footer-text {

font-family: Inter;
	font-size: 20px;
	line-height: 20px; 
}
.profile-footer-number-card {
	color: #BB945F;
	font-family: Inter;
	font-size: 20px;
	line-height: 20px;
}
.profile-footer-copy {
	cursor: pointer;
}


.modal-register-active {
	display: block;
}