*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
}

.pic-wraper {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wraper {

}

.player {
	position: absolute;
	max-width: 900px;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.container {
}
.pic-box {

	height: 600px;
}

.pic-box img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.nav {
}
.music-box {
}

.box-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.btn-player {
	width: 80px;
	height: auto;
}

.btn-player img {
	width: 100%;
}

.prev-btn {
	transform: rotate(180deg);
}

.pic-stop {
	display: none;
}

.pic-player-active {
	display: block;
}

.pic-player-inactive {
	display: none;
}

.track-control {
	width: 100%;
}

.track-progress {
	width: 100%;
	height: 35px;
	background-color: #c41f27;
	appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	background: #ecf0f1;
	cursor: pointer;
	width:38px;
	height: 38px;
	-webkit-appearance: none;
	margin-top: -4px;
}

.sing-info-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 10px 8px;
}